extends layout  
block content
    .container(style='margin-top:2%;')
        .flexer
            h1(style='text-align:center') #{noResults}
            each userFound in users
                .col-xs-12.col-sm-6.col-md-4.col-lg-3
                    .card(name=userFound._id)
                      .card-top    
                        h5
                          b #{userFound.name}
                        img.img-circle(src='../default-avatar.png', alt='Avatar', style='width:30%; height:30%; padding-bottom: 10px; margin-top:-15px;')
                      .card-body
                        .card-category
                            h6
                                b Instruments
                            each instrument in userFound.instrument
                                .card-sub-category #{instrument}
                        .card-category
                            h6
                                b Genres
                            each genre in userFound.genre
                                .card-sub-category #{genre}
                        if (userFound.studies[0] != "")
                            .card-category
                                h6
                                    b Studies
                                each studies in userFound.studies
                                    .card-sub-category  #{studies}
                        .card-category
                            h6
                                b Material
                            each material in userFound.material
                                .card-sub-category #{material}
                        .card-category
                            h6(style='margin-top:5px; margin-bottom:10px;')
                                b Local: 
                                |  #{userFound.local} |
                                b  Teacher: 
                                |  #{userFound.teacherAvailable}
                        if (userFound.bands[0] != "")
                            .card-category
                                h6
                                    b Bands
                                each band in userFound.bands
                                    .card-sub-category  #{band} 
                        .card-button
                            if (user)
                                if (userFound.username === user.username)
                                    a(href='/main-user/' + user._id, style='text-decoration: none; color: white;')
                                        button.btn.btn-success.btn-block(style='width: 95%;') View My Profile
                            if (user)
                                if (userFound.username != user.username)
                                    a(href='/user/' + userFound._id, style='text-decoration: none; color: white;')
                                        button.btn.btn-primary.btn-block(style='width: 95%;') View Profile        
                            if (!user)
                                a(href='/user/' + userFound._id, style='text-decoration: none; color: white;')
                                        button.btn.btn-primary.btn-block(style='width: 95%;') View Profile
