extends layout
block content     
  .container.user-main(style='margin-top:2%; width:80%')
    .col-xs-6(style='text-align: center; border-right:5px solid black')
      div
        h1=userById.name
        if (user && buddies)
          h4 
            b Contact Info:
          p 
            b Email: 
            | #{userById.email} 
            b Phone: 
            | #{userById.phone}
        img#user-image(src='../default-avatar.png' style='height:20%; width:20%;')
      .user-sub-category(style='margin-top: 10px;' )
        div(style='border-bottom: 1px solid black; border-bottom: 1px solid black;')
          h4 
            b Instruments:
          each instrument in userById.instrument
            .user-sub-category #{instrument}
        div(style='border-bottom: 1px solid black')
          h4 
            b Genres:
          each genre in userById.genre
            .user-sub-category #{genre}
        if (userById.bands[0] != "")
          div(style='border-bottom: 1px solid black')
            h4 
              b Bands:
            each band in userById.bands
              .user-sub-category #{band}
        if (userById.studies[0] != "")
          h4 
            b Studies:
          each study in userById.studies
            .user-sub-category #{study}
    .col-xs-6
      .user-sub-category(style='margin-top:40px;')
        h4(style='text-align: center; border-bottom: 1px solid black;')
          b Description:
        p
          | #{userById.description}
      .col-xs-12(style='border-bottom: 1px solid black;')
        .col-xs-6
          h4 
            b Local: 
            | #{userById.local}
        .col-xs-6
          h4
            b Teacher: 
            |  #{userById.teacherAvailable}
      .col-xs-12
        h4
          b Material:
        each material in userById.material
          .user-sub-category #{material}
          //- h4 
          //-   b Audios:
          //- p #{userById.audios}
      form(action='/user/' + userById._id, method='post')
        .form-group
          input.form-control(name='_id', type='text', class='hidden', value=userById._id)
        .form-group
          input.form-control(name='username', type='text', class='hidden', value=userById.username)
        .form-group
          input.form-control(name='name', type='text', class='hidden', value=userById.name)
        if (user && friendPending)
          button.btn.btn-success.btn-block(style='width: 95%; margin-top: 20px; margin-bottom: 20px; padding: 20px;' disabled) Friend Request Sent
        if (user && friendRequestPending)
          form(action='/user/' + userById._id, method='post')
            input.form-control(name='acceptFriend', type='text', value='existes', class='hidden')
            button.btn.btn-success.btn-block(type='submit' , style='width: 95%; margin-top: 20px; margin-bottom: 20px; padding: 20px;') Accept Friend Request
        if (user && !friendPending && !buddies && !friendRequestPending)
          button.btn.btn-success.btn-block(type='submit', style='width: 95%; margin-top: 20px; margin-bottom: 20px; padding: 20px;') Let's Jam!!!
        if (user && !friendPending && buddies)
          button.btn.btn-primary.btn-block(type='submit', style='width: 95%; margin-top: 20px; margin-bottom: 20px; padding: 20px;' disabled) You are friends, Go Jam!!
  .container(style='padding-top: 30px; padding-bottom:50px;')
    h1(style='color:white;') Comments
    if (!user)
      p(style='color: white;') Login and add this musician to leave a comment!
    if (user && !buddies)
      p(style='color: white;') Add this musician ass a friend to leave a comment!
    if (user && buddies)
      p(style='color: white;') Leave a comment!
      form(action='/user/' + userById._id, method='post')
        textarea(rows='4', cols='40', name='comment' placeholder='Write a comment...')
        button.btn.btn-primary.btn-block(type='submit', style='width:80px') Submit
    div(style='margin-top:30px;')
      for comment in userById.comments.reverse()
        #comments
            h4(style='border-bottom: 1px solid black') #{comment.name}
            p #{comment.comment}
 

 
